

*{
  font-family: Tahoma, Geneva, sans-serif;
}

/*headers style*/
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: RGBA(125, 206, 160, 0.5);
  z-index: 99;
}

.navbar:hover{
  background-color: RGBA(125, 206, 160, 1);
}

/* White on hover to target just the link you're looking at */
.nav-link:hover {
  color:white !important;
}

.jumboAbout{
  background: url(photos/aboutUs.jpg) no-repeat;
}

.jumboProduct{
  background: url(photos/Beerserved.jpg) no-repeat;
}

.jumboPricing{
  background: url(photos/beerRow.jpg) no-repeat;
}

.jumbotron{
  position: center;
  width: 100%;
  background-size: cover;
  height: 50vh;
  text-align: center;
  color: #fff;
}


#bodycontent{
    width: 100%;
    padding:10px;
    margin-top:50px;
}

.signBtn {
  background-color: white;
  color: RGB(125, 206, 160);
}
.signBtn:hover {
  background-color: RGB(125, 206, 160);
  color: #fff;
  border: 1px solid rgb(125,206,160);
}
.btnUp {
  background-color: rgb(125,206,160);
  color:white;
}
.btnUp:hover {
  background-color: white;
  color: RGB(125, 206, 160);
  border: 1px solid rgb(125,206,160);
}

#banner{
    position: relative;
    height:auto;
    padding: 10px;
    border:1px solid;
}

#featureright{
   position: relative;
   height:280px;
   width:100%;
   padding: 10px;
   /*border:1px solid;*/
   float:left;

}

#signin{
   position: relative;
   height:280px;
   width:30%;
   padding: 10px;
   border:0.5px solid;
   float:left;
}


#signup{
   position: relative;
   display: block;
   left: 19%;
   margin-top: 1.25rem;
   margin-bottom: 50px;
   height:280px;
   width:60%;
   padding: 10px;
   /*border:1px solid;*/
   float:left;
}


label{
  font-size:18;
}

input{
  font-size:18;
}

/* USING THE STYLING FOR btnUp
#logmein {
    background-color: blue;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    border:none;
}*/

#signmeup {
    background-color: blue;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    border:none;
}

#submit:hover{
    box-shadow: 0px 0px 1px #777;
    border: 1px solid rgb(125,206,160);
    cursor: url('photos/beer_emoji.cur'),auto;
}

#featurestrip{
    position: center;
    padding: 20px;
}

#corefeatures{
  position: relative;
  height:300px;
  padding: 10px;

}

.btn-group{
  align-content: center;
  padding: 20px;

}

#plan{
  width: 280px;
  height: 50px;
  text-align: center;
}

.dropdown-menu{
  width: 280px;
  height: 250px;
  text-align: justify;
  padding: 20px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 20px;
  background-color: RGBA(125, 206, 160, 0.5);
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: RGBA(125, 206, 160, 1); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* Following Divs provide the sub partitions  */

/*.menuitem{
    float:left;
    width:120px;
    padding:5px;
    margin:2px;
}*/
/*.menuitem {
    color:white;
}
.menuitem:hover {
  color: rgb(125, 174, 157);
  text-decoration: none;
}*/

.dropdown-item.active, .dropdown-item:active {
  background-color: RGB(125, 206, 160);
}
.textBlock, .sideImg {
  padding:2rem;
  border: none;
}

.dropStyle {
  right: 0;
  left: inherit;
  padding: 1rem;
  width: auto;
  height: auto;
}

