

*{
  font-family: Tahoma, Geneva, sans-serif;
}

p{
  font-family: Geneva, sans-serif

}

/*headers style*/
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: RGBA(125, 206, 160, 0.5);
  z-index: 99;
}

.navbar:hover{
  background-color: RGBA(125, 206, 160, 1);
}

/* White on hover to target just the link you're looking at */
.nav-link:hover {
  color:white !important;
}

.jumboProduct{
  background: url(photos/beerearth.jpg) no-repeat;
  opacity: 0.8;
}

.jumboPricing{
  background: url(photos/beerRow.jpg) no-repeat;
  opacity: 0.8;
}

.jumboAbout{
  background: url(photos/aboutUs.jpg) no-repeat;
  opacity: 0.8;
}

.jumbotron{
  position: center;
  width: 100%;
  background-size: cover;
  height: 80vh;
  text-align: center;
  color: black;
  font-weight: bold;
}


#bodycontent{
    width: 100%;
    padding:10px;
    margin-top:50px;
    text-align: center;
}

#featurestrip{
    padding: 50px;
}

.sideImg{
  padding:1rem;
  border: none;
}

h6{
  font-weight: bold;
}

/*dropdown forms, buttons*/
#signup{
   display: inline-block;
   padding: 10px;
}

#submit:hover{
    box-shadow: 0px 0px 1px #777;
    border: 1px solid rgb(125,206,160);
    cursor: url('photos/beer_emoji.cur'),auto;
}

.signBtn {
  background-color: white;
  color: RGB(125, 206, 160);
}
.signBtn:hover {
  background-color: RGB(125, 206, 160);
  color: #fff;
  border: 1px solid rgb(125,206,160);
}

.btnUp {
  background-color: rgb(125,206,160);
  color:white;
}

.btnUp:hover {
  background-color: white;
  color: RGB(125, 206, 160);
  border: 1px solid rgb(125,206,160);
}

.contact{
  margin: 20px;
  padding: 20px;
}

.helpform{
  display: block;
  text-align: left;
}

.carousel-caption{
  margin-bottom: 80px;
}

label, input{
  font-size:18;
}

.btn-group{
  align-content: center;
  padding: 20px;

}

#plan{
  width: 280px;
  height: 50px;
  text-align: center;
  opacity: 1;
}

.dropdown-menu{
  width: 280px;
  height: 250px;
  text-align: justify;
  padding: 20px;
}

.dropdown-item{
  background-color: RGB(125, 206, 160);
  color: #fff;
}

.dropdown-item:hover{
  color: RGB(125, 206, 160);
  background-color:#fff;
}

.dropStyle {
  right: 0;
  left: inherit;
  padding: 0.5rem;
  width: auto;
  height: auto;
}


#footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 20px;
  background-color: RGBA(125, 206, 160, 0.5);
  text-align: left;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: RGBA(125, 206, 160, 1); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

