/* These are the main divs which partitions the website into
various sections  */

*{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.jumboAbout {
  background: url(photos/aboutUs.jpg) no-repeat;
  background-size: cover;
}
/*#container {
    position: center;
    margin-top:50px;
    margin-bottom: 50px;
}*/

/*#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    border:1px none;
    background-color: RGBA(125, 206, 160, 0.5);
    z-index: 10;
}

#header:hover{
  background-color: RGBA(125, 206, 160, 1);
}*/
.navbar {
  background-color: RGBA(125, 206, 160, 0.5);
}
.dropStyle {
  right: 0;
  left: inherit;
  padding: 1rem;
}
#bodycontent{
    width: 100%;
    position: relative;
    padding:10px;
    /*border:1px solid;*/
}
.signBtn {
  background-color: white;
  color: RGB(125, 206, 160);
}
.btnUp {
  background-color: rgb(125,206,160);
  color:white;
}
#banner{
    position: relative;
    height:300px;
    padding: 10px;
    border:1px solid;
}

#bannerleft{
   position: relative;
   height:280px;
   width:60%;
   padding: 10px;
   /*border:1px solid;*/
   float:left;
   background-image: url(http://www.dr-kong.com.hk/images/backgrounds/background_product-concept-pregnant_fe5e52c5cb.jpg);
   background-position: top left;
}

#featureright{
   position: relative;
   height:280px;
   width:30%;
   padding: 10px;
   /*border:1px solid;*/
   float:left;

}

#signin{
   position: relative;
   height:280px;
   width:30%;
   padding: 10px;
   border:0.5px solid;
   float:left;
}


#signup{
   position: relative;
   display: block;
   left: 19%;
   margin-top: 1.25rem;
   margin-bottom: 50px;
   height:280px;
   width:60%;
   padding: 10px;
   /*border:1px solid;*/
   float:left;
}


label{
  font-size:18;
}

input{
  font-size:18;
}

#logmein {
    background-color: blue;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    border:none;
}

#signmeup {
    background-color: blue;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    border:none;
}



#logmein:hover {
    border: none;
    box-shadow: 0px 0px 1px #777;
    cursor: url('photos/beer_emoji.cur'),auto;
}

#signmeup:hover {
    border: none;
    box-shadow: 0px 0px 1px #777;
    cursor: url('photos/beer_emoji.cur'),auto;
}

#featurestrip{
    position: relative;
    padding: 10px;
}

#corefeatures{
  position: relative;
  height:300px;
  padding: 10px;

}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    border:1px none;
    background-color: RGBA(125, 206, 160, 0.5);
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: RGBA(125, 206, 160, 1); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* Following Divs provide the sub partitions  */

.menuitem{
    float:left;
    width:120px;
    padding:5px;
    margin:2px;
}

.menuitem a {
    color:white;
}


