
BODY{
	background-image: url(photos/homeJumbo.jpg);
	background-size: cover;
	width: 100%;
	opacity: 50%;
	color: white;
	text-align: : justify;
	font-size: 20px;
	font-family: "Tahoma";
}

#container{
	padding: 50px;
}

.btmbanner{
	padding: 50px;
	position: fixed;
	bottom: 50px;
}

.btn-primary{
	position: center;
	background-color: RGB(125, 206, 160);
	color: white;
	border: none;
}

.btn-primary:hover {
  background-color: white;
  color: RGB(125, 206, 160);
  border: none;
}

#footer{
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 12px;
}

*{
  font-family: Tahoma, Geneva, sans-serif;
}